<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home ejs</title>
    <link rel="stylesheet" href="http://localhost:3000/css/main.css"> 
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

   
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <a href="/detail/1">detail page</a> 
    <h1><center>2024 Volkwagen Vehicles Home Page</center></h1>
    <div id="root"></div>
    <script type= "text/babel">

        let cars = <%- items %>;
        //console.log(cars)

       
       // the parent component

    const CarsApp = (props) => {

        
        
        //console.log(props)
        //console.log("hello" + props.volkwagens);
       
        const [items, setItems] = React.useState([]);
        const [selectedItem, setselectedItem] = React.useState({});

        // load data after component has rendered
        React.useEffect(() => {
            const fetchData = async () => {
                fetch("/api/cars").then(res => res.json())
                .then((json) => {
                    setItems(json);
                })
            }
            fetchData()
        }, []);

        const Cars = (props) => {
        // props is an array
        const listItems = props.data.map((item) =>
        <li key={item._id} id={item._id} onClick={props.clickHandler}>
            {item.model}
        </li>);
        return <ul>{listItems}</ul>
    }


        
        
        
            
        const clearForm = () => {
            setselectedItem({});
        }

        const saveItem = () => {
            if (!selectedItem.model) {
              return;
            }
            
            //fetch("/api/add/", {
            fetch("/api/v1/add", {    
              method: "POST",
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(selectedItem)
            })
            .then(res => res.json())
            .then((data) => {
                // if item has no _id, it wasn't previously saved in DB
                if (!selectedItem._id) {
                    selectedItem._id = data._id;
                    setselectedItem(selectedItem);
                    // update items list
                    let newItems = [...items];
                    newItems.push(selectedItem);
                    setItems(newItems);
                }
            })
        }
        const deleteItem = () => {
            let m = selectedItem.model;
            // delete item from DB
            fetch(`/api/cars/delete/${m}`)
            .then(res => res.json())
            .then((data) => {
                // remove item from UI list
                  const newItems = items.filter((item) => {
                    return item.model !== m;
                  });
              setItems(newItems);
              // clear form
              setselectedItem({});
            });
        }
        //line 59 of github/brenden west/it122/9_effects/views/home.ejs
        const itemClick = (e) => {
            //console.log(e.target.innerText)
            let found = cars.find((item) => { return item.model == e.target.innerText});
            setselectedItem(found);    
        }
        
        // itemChanged is a variable/function name: then (e) e or any letter is used as a html page "event" or (e). Javascript function "" =>"" {console.log(e.target)}
        const changeHandler = (e) => {
            console.log(e.target)
            let field = e.target.name;
            let newItem = { ...selectedItem };
            newItem[field] = e.target.value;
            console.log(newItem)
            setselectedItem(newItem);
            console.log(e.target.innerText)
           let found = cars.find((item) => { return item.model == e.target.innerText});
            //setselectedItem(found);    
        }

            //updated list state***
            //{ ...selectedItem };*******
        //const itemChanged = (e) => {
           // console.log(e.target)
               
           // let field = e.target.model;
           // let newItem = { ...selectedItem };
           // newItem[field] = e.target.value;
            //update selectedItem state*******
           // console.log(newItem)
            //setselectedItem(newItem);
            //update list state******
           // model.find((item, index) => {
             // if (item.model == newItem.model) {
            //      model[index] = newItem;
             //      setItems(model);
              // }


            //})
 
        //}
        //undo above "}" maybe for CarApp but line 140 might be official********

       
        const listItems = props.volkwagens.map((item) => 
        <li key={item._id} onClick={itemClick}>{item.model}</li>);
    

        return (
            <div> 
                <h2>Car Inventory</h2>
                
                <Cars data={items} clickHandler={itemClick} />
               
                <ItemDetails 
                  item={selectedItem}
                  changeHandler={changeHandler}
                  clearForm={clearForm}
                  saveItem={saveItem}
                  deleteItem={deleteItem}
                />
                
            </div>
        );
    

            return <h2> hello </h2>
    }
//closing } above here CarsApp
    

    
        const ItemDetails = (props) => {

            return ( 
                <div>
                    <hr />
                    <h3> Car Details </h3>
                    
                    <form>
                    <b>Model</b>: <input type="text" name="model" onChange={props.changeHandler} value={props.item.model || ''} />
                    <b>Year</b>: <input type="text" name="year" onChange={props.changeHandler} value={props.item.year || ''} />
                    <b>engine</b>: <input type="text" name="engine" onChange={props.changeHandler} value={props.item.engine || ''} />
                    <b>Power</b>: <input type="text" name="power" onChange={props.changeHandler} value={props.item.power || ''} />
                    <b>ignition</b>: <input type="text" name="ignition" onChange={props.changeHandler} value={props.item.ignition || ''} />
                    </form>
                    
                    
                    
                    <button name="clear" onClick={props.clearForm}>Clear</button>&nbsp;
                    <button name="save" onClick={props.saveItem}>Save</button>&nbsp;
                    <button name="delete" onClick={props.deleteItem}>Delete</button>&nbsp;
                </div>
                      
            
            );

        }
        

      
    
        
    ReactDOM.render(
        <div><CarsApp volkwagens={cars}/></div>,
        document.getElementById('root'));

</script>

    
    
</body>
</html>