<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home ejs</title>
    <link rel="stylesheet" href="http://localhost:3000/css/main.css"> 
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <a href="/detail/1">detail page</a> 
    <h1><center>2023 Volkwagen Vehicles Home Page</center></h>
    <div id="root"></div>
    <script type= "text/babel">

        let cars = <%- items %>;
        console.log(cars)

        const Details = (props) => {

            //return (
            //<div>

                //<form>
                   // <label>Model:</label>


                   // <input
                       // type="text"
                       // required
                        //name="model"
                        /////////value={props.item.power || ""} onChange={props.handleChange} /><br/>/////
                
                 //   />
                

                  //  <label>Year:</label>

                    //<input
                      //  type="text"
                      //  name="year"
                        //value={props.item.power || ""} onChange={props.handleChange} /><br/>//
                
                   // />
                
                   // <textarea
                    //    required
                   // ></textarea>

                   // <label>Engine</label>
                    //<input
                    //    type="text"
                        
                    //    name="engine"
                        //value={props.item.power || ""} onChange={props.handleChange} /><br/>//
                
                    ///>
                    //<textarea
                        
                   // ></textarea>
                   // <label>Power</label>

                   // <input
                    //    type="text"
                        
                    //    name="power"

                        //value={props.item.power || ""} onChange={props.handleChange} /><br/>//
                
                   ///>

                   // <label>Ingnition</label>
                    //<input
                     //   type="text"
                        
                     //   name="ignition"
                        //value={props.item.power || ""} onChange={props.handleChange} /><br/>//
                
                    ///>
                    //<textarea
                        
                    //></textarea>
                    //<select>
                    //    <option value="mario">mario</option>
                    //    <option value="mario">mario</option>
                   // </select>
                
                //</form> 
                //<button>Add new vehicle</button>
                //<button name="clear" onClick={props.clearForm}>Clear</button>&nbsp;
               // <button name="save" onClick={props.saveItem}>Save</button>&nbsp;
               // <button name="delete" onClick={props.deleteItem}>Delete</button>
                   
            ///</div>

           // )



        }

       // the parent component

    const CarsApp = (props) => {
        //console.log(props)
        //console.log("hello" + props.volkwagens);

        const [selectedItem, setselectedItem] = React.useState();

        //line 59 of github/brenden west/it122/9_effects/views/home.ejs
        const itemClick = (e) => {
            //console.log(e)
            let found = cars.find((item) => { return item.model == e.target.innerText});
            
            setselectedItem(found);    
        }
            //added 8/20/23
        const clearForm = () => {
            setselectedItem({});
        }

            //{ ...selectedItem };
        const itemChanged = (e) => {
            console.log(e.target)
            let field = e.target.model;
            let newItem = { ...selectedItem };
            newItem[field] = e.target.value;
            console.log(newItem)
            setselectedItem(newItem);
 
        }

        const Details = (props) => {

            return (
                <div>
                <h3> Car Details </h3>
                 {props.item &&
                <form>
                <b>Model</b>: <input type="text" name="model" onChange={props.changeHandler} value={props.item.model || ''} />
                <b>Year</b>: <input type="text" name="year" onChange={props.changeHandler} value={props.item.year || ''} />
                <b>engine</b>: <input type="text" name="engine" onChange={props.changeHandler} value={props.item.engine || ''} />
                <b>Power</b>: <input type="text" name="power" onChange={props.changeHandler} value={props.item.power || ''} />
                <b>ignition</b>: <input type="text" name="ignition" onChange={props.changeHandler} value={props.item.ignition || ''} />
                </form>
                
                 }
                 <button name="clear" onClick={props.clearForm}>Clear</button>&nbsp;
                 </div>
                
                )
        }
        const listItems = props.volkwagens.map((item) => 
        <li key={item._id} onClick={itemClick}>{item.model}</li>);

        return ( 
            <div>
            <ul>{listItems}</ul>
            <hr />
            <Details item= {selectedItem} changeHandler={itemChanged}/>
            
            </div>
            
        );
      
    }
        
    ReactDOM.render(
        <div><CarsApp volkwagens={cars}/></div>,
        document.getElementById('root'));

</script>

    
    
</body>
</html>