<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home ejs</title>
</head>
<body>
    
    <h2><center>2023 Volkwagen Vehicles Home Page</center></h2>


   <% car_volkwagen.forEach(function(auto) { %>
    <li> <%= auto.model %></li>
    
    <% }); %>
    
</body>
</html>